<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>subjects</key>
		<array>
			<dict>
				<key>name</key>
				<string>基礎英語1</string>
				<key>url</key>
				<string>english/basic1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>基礎英語2</string>
				<key>url</key>
				<string>english/basic2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>基礎英語3</string>
				<key>url</key>
				<string>english/basic3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ラジオ英会話</string>
				<key>url</key>
				<string>english/kaiwa</string>
			</dict>
			<dict>
				<key>name</key>
				<string>英会話タイムトライアル</string>
				<key>url</key>
				<string>english/timetrial</string>
			</dict>
			<dict>
				<key>name</key>
				<string>攻略！英語リスニング</string>
				<key>url</key>
				<string>english/kouryaku</string>
			</dict>
			<dict>
				<key>name</key>
				<string>入門ビジネス英語</string>
				<key>url</key>
				<string>english/business1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>実践ビジネス英語</string>
				<key>url</key>
				<string>english/business2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>英語で読む村上春樹</string>
				<key>url</key>
				<string>english/yomu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにち中国語</string>
				<key>url</key>
				<string>chinese/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>レベルアップ中国語</string>
				<key>url</key>
				<string>chinese/levelup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちハングル講座</string>
				<key>url</key>
				<string>hangeul/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>レベルアップハングル講座</string>
				<key>url</key>
				<string>hangeul/levelup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちイタリア語</string>
				<key>url</key>
				<string>italian/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちドイツ語</string>
				<key>url</key>
				<string>german/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちフランス語</string>
				<key>url</key>
				<string>french/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちスペイン語</string>
				<key>url</key>
				<string>spanish/kouza</string>
			</dict>
			<dict>
				<key>name</key>
				<string>まいにちロシア語</string>
				<key>url</key>
				<string>russian/kouza</string>
			</dict>
		</array>
	</dict>
</plist>
